.App {
  text-align: center;
}
body {
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
h1 {
  color: #61dafb;
}

.TaskList {
  margin: auto;
  overflow: hidden;
  width: 50em;
  text-align: center;
}

.TitleCurrentTask {
  font-weight: bold;
  background-color: #61dafb;
}

.TitleFinishTask {
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.356);
}

.CurrentTask {
  float: left;
}

.FinishTask {
  float: left;
  margin-left: 3em;
}

ul {
  list-style: none;
  float: left;
}

li {
  color: black;
  font-size: 1em;
  height: 2em;
  border: solid black 0.1em;
  width: 19.5em;
  background-color: white;
}

input {
  height: 1.5em;
  margin-right: 1em;
}

input[type="submit"] {
  background-color: #61dafb;
  border: none;
  height: 2em;
  width: 6em;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
}
button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 1em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
}
